{% extends "layout.html" %}

{% block title %}
    To-do list
{% endblock %}

{% block main %}
    <form action="/" method="post">
        <div class="textbox">
            <input type="text" name="todo" placeholder="Add a to-do item" class="box">
            <button type="submit" class="submit">
                <span class="material-symbols-outlined add">
                    add
                </span>
            </button>
        </div>
    </form>
        <div class="items">
            <ul>
                {% for row in rows %}
                    <li>{{ row[1] }}</li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}