{% extends "layout.html" %}

{% block title %}
    To-do list
{% endblock %}

{% block main %}
    <form action="/" method="post">
        <div class="textbox">
            <input autofocus autocomplete="off" type="text" name="todo" placeholder="Add a to-do item" class="box">
            <button type="submit" class="submit">
                <span class="material-symbols-outlined add">
                    add
                </span>
            </button>
        </div>
    </form>
        <div class="items">
        <form action="/delete", method="post">
                {% for row in rows %}
                <div class="listitems" >
                    <button type="submit" value="{{ row[0] }}" class="submit" name="id">
                        <span class="material-symbols-outlined done">
                            done
                        </span>
                    </button>
                    <span>{{ row[1] }}</span>
                </div>
                {% endfor %}
        </form>
        </div>
{% endblock %}